# General
**/.DS_Store
**/.idea
**/.vscode
**/__pycache__/
**/*.log

# Go build artifacts
**/bin/
**/dist/
**/build/
**/*.exe
**/*.out

# Go cache
**/vendor/
**/coverage.out

# Dev tools
.lefthook.yml
.golangci.yml

# Git
.git
.gitignore

# Env
.env*
